.prof_container{float:left; padding:10px 10px 10px 10px;width:800px;}
.prof_container h2{margin-bottom:10px;}
.prof_pic{float:left;}
.prof_details{float:left;padding:10px 10px 10px 10px;}
.prof_infos{float:left;padding:10px 10px 10px 10px;}

.comment_container{float:left;padding:10px 10px 10px 10px;}
.comment_form{float:left;padding:50px 10px 10px 30px;}
.slider_container{float:left;padding:10px 10px 10px 10px;width:300px;clear:both;}
.slider{float:left;margin-bottom:20px;width:250px;}
.amount{float:left;}

.fb_connect{background:url(img/facebook-connect.png) no-repeat;
    cursor:pointer;
    width: 130px;
    height: 41px;
    padding:41px 130px 0px 0px;
    border: none;}

.done_container{float:left;padding:10px 10px 10px 10px;}
.nav_search{float:left;margin-top:10px;}

.login_box{float:right;}
.login_box h3{font-size:20px;}

.home_search_input{width:500px;height:80px;font-size: 50px;
	background-color: #ffffff;
	  border: 1px solid #cccccc;
	  -webkit-border-radius: 3px;
	     -moz-border-radius: 3px;
	          border-radius: 3px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
	          transition: border linear 0.2s, box-shadow linear 0.2s;}
.[type="text_home"]{}